

.grid-wrapper {
 display: grid;
 grid-template-columns: auto;
 grid-template-rows: auto;

 grid-template-areas:
    "header"
    "nav"
    "main";
}

header {
    grid-area: header;
    
}

.nav {
    grid-area: nav;

   
} 


main {
    
    grid-area: main;
}
.main-header {
    grid-area: main-header;
}


.daily,  .acivity, .settings {
    grid-column: 2 / span 1;
}
